
footer {
    height: 344px;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $sec-color;
    position: relative;

    ul {
    	position: absolute;
    	height: 16px;
    	top: calc(50% - 16px/2 + 24px);
        list-style-type: none;
        display: flex;
        font-family: $second-font;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 960px) {
            flex-direction: column;
        }

        li a {
            margin: 40px;
            text-decoration: none;
            color: $sec-color;
            transition: color .3s ease;

            &:hover {
            	color: $light-color;
            }

            @media screen and (max-width: 960px) {
                margin: 100px 0;
            }
        }
    }

    p {
        position: absolute;
        height: 24px;
        top: calc(50% - 24px/2 + 98px);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .footer-logo {
    	position: absolute;
		top: 25.58%;
        width: 254px;
        height: 46px;
    }
}