@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff');
}
// Colors
$accent-color: #00A031;
$light-color: #fff;
$sec-color: #777;

// Fonts
$main-font: Poppins;
$second-font: Gilroy;

// Media queries


// Small tablets and large smartphones (landscape view)
$sm-max: 320px;

// Small tablets (portrait view)
$md-max: 768px;

// Tablets and small desktops
$lg-max: 992px;

// Large tablets and desktops
$xl-max: 1024px;



// Small devices
@mixin sm {
   @media (max-width: #{$sm-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$md-max}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$lg-max}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$xl-max}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}