// Normalize
@import 'include/normalize.scss';

// Fonts & variables
@import 'include/variables.scss';

// Header
@import 'include/header.scss';

// Welcome screen
@import 'include/slider.scss';

// Contacts screen
@import 'include/contacts.scss';

// Offcanvas menu
@import 'include/offmenu.scss';

// Footer
@import 'include/footer.scss';

html,
body {
    font-family: $main-font;
    background: #E5E5E5;
    position: relative;
    color: #6C6C6C;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    position: relative;
}

.button {
    padding: 16px 23px;
    font-family: 'Gilroy-Bold';
    font-weight: 900;
    border: none;
    border-radius: 27px;
    cursor: pointer;

    &.green-button {
        background: $accent-color;
        color: $light-color;
    }
}

.services,
.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    background: $light-color;
}